

body {
    background-color: #0A1128;
    color: #ffff;
    height: 100vh;
    overflow-x: hidden;
}

/* Sidebar Lateral*/

header {
    width: 150px;
    height: 100vh;
    background-color: #0A1128;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-shadow: 0 4px 110.4px 0 rgba(0, 0, 0, 0.74);  /* sombra da side bar */
}

header img {
    width: 30px;
    margin-bottom:0;
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

header nav > a > img {
    width: 130px;
}

header nav .icon-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: #ffff;
    transition: 0.2s;
}

header nav .icon-nav-bar:hover {
    color: white;
    transform: scale(1.05);
}

.icon-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    gap: 0px; /* distância entre ícone e texto*/
}

.icon-nav-bar img {
    width: 40px; /* ajuste das imagens*/
}

.icon-nav-bar p {
    font-size: 16px;
    margin-right: 40px; 
}

.content {
    margin-left: 150px;
}

/* Banner */

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(
        to bottom, 
        rgba(10, 17, 40, 0) 0%,     
        rgba(10, 17, 40, 0.7) 70%, 
        rgba(10, 17, 40, 1) 100%    
    ),
    url('/assets/mapa.png') center/cover no-repeat;
    position: relative;
}

/* camada escura */
.mid-banner {
    width: 680px;
    height: 600px;
    margin-top: 200px;
    background: #0A1128; 
    color: white;
    border-radius: 50px;
    padding: 50px 40px;
    text-align: center;
}

.mid-banner h1 {
    font-size: 28px;
    font-weight: 700;
    padding: 6px;
}

.mid-banner h2 {
    font-size: 24px;
    margin-top: 16px;
}

.mid-banner > p {
    font-size: 16px;
    opacity: 0.85;
    padding: 12px;
}

.info-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 12px 0;
}

.info-banner img {
    width: 22px;
    height: 22px;
}

.info-banner p {
    font-size: 15px;
}

h3 {
    margin-top: 120px;
    padding-left: 40px;
    font-size: 30px;
}

p {
    padding-left: 40px;
    max-width: 900px;
    margin-bottom: 20px;
}

.container-telas-web,
.container-telas-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.container-telas-web img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.container-telas-mobile img {
    width: 180px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

footer {
    margin-top: 80px;
    padding: 40px;
    background-color: #031D44;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 60px;
}

.info-contato {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.info-contato p {
    margin: 5px 0;
}